[MAIN]

ignore=importers


[MESSAGES CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        too-few-public-methods,
        missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        relative-beyond-top-level,
        import-error,
        no-name-in-module,
        unspecified-encoding,
        consider-using-with


[TYPECHECK]

ignored-classes=Child


[VARIABLES]

additional-builtins=_


[FORMAT]

max-line-length=88


[BASIC]

class-naming-style=PascalCase
module-naming-style=any
function-naming-style=snake_case
const-naming-style=UPPER_CASE
method-naming-style=snake_case
variable-naming-style=snake_case
include-naming-hint=yes